body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header{
  padding: 0px 0px 50px 0px;
}

.roomname{
    padding: 20px 0;
    text-indent:3em;
    text-align:left;
    font-size:x-large;
    font-weight:bold;
    text-decoration:underline;
}

.inputBox{
  
}

.tab{
    padding: 0px 30px ;
}

.log{
    padding: 30px 0px;
}

#log{
  padding: 30px 0px;
}